<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="shortcut icon" type="image/x-icon" href="https://googledrive.com/host/0BzwOBEBWIA-qWTQ3N0J6T0U1aFU/">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,200" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{asset "css/application.css"}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    <meta property="twitter:site" content="@tweetClosely">
    <meta property="twitter:domain" content="followclosely.com" />
    <meta property="og:site_name" content="FollowClosely" />
    <meta property="fb:admins" content="511697361" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="fb-root"></div>
    <aside class="subscribe-banner">
        Want to keep up to date weekly with more great posts? &nbsp;<a class="button" data-toggle="modal" data-target="#blogsubscribe">Subscribe</a>
    </aside>
    <header id="global-header" class="global-header navbar">
       <nav role="navigation">
           <div class="wrapper">
               <a class="fc-logo" href="https://followclosely.com"><span>FollowClosely</span></a>
               <button type="button" class="mobile-menu" data-toggle="closed" data-target=".nav-collapse">
               <span class="hidden">Menu</span>
               </button>
               <ul id="main-menu" class="nav-collapse closed">
                   <li><a href="//followclosely.com/">Home</a></li>
                   <li><a href="//followclosely.com/product">Product</a></li>
                   <li><a href="//followclosely.com/pricing">Pricing</a></li>
                   <li class="current extra"><a href="//followclosely.com/blog">Blog</a></li>
                   <li><a class="signup" href="//followclosely.com/demo">Get Demo</a></li>
                   <li><a class="login" href="//followclosely.com/sign-up">Sign Up</a></li>
               </ul>
           </div>
        </nav>
    </header>

    <main role="main">
        <div class="page-wrapper">
            {{{body}}}
            <div class="clearfix"></div>
        </div>
    </main>

    <div class="modal fade" id="blogsubscribe" tabindex="-1" role="dialog" aria-labelledby="Email subscription modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">The latest content, once per week.</h4>
                    <a class="modal-close" data-dismiss="modal" aria-hidden="true" href="#"><span class="hidden">Close</span></a>
                </header>
                <div class="modal-body">
                    <form action="http://followclosely1.createsend.com/t/i/s/htbtl/" method="POST">  
                        <input id="fieldEmail" name="cm-htbtl-htbtl" type="email" placeholder="Your email address" required />
                        <button class="button-add wide" type="submit">Send me the good stuff</button>
                        <p><strong>Privacy policy:</strong> No spam. No jibber jabber. Unsubscribe any time.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

  <footer class="simple-footer">
    <nav class="simple-nav" role="navigation">
      <ul class="simple-col-01">
        <li><a href="//followclosely.com/XYZ">About</a></li>  
        <li><a href="//followclosely.com/XYZ">Product</a></li>
        <li><a href="//followclosely.com/XYZ">Demo</a></li>
        <li><a href="//followclosely.com/XYZ">Pricing</a></li>
        <li><a href="//followclosely.com/XYZ">We're Hiring</a></li>
      </ul>

      <ul class="simple-col-02">
        <li><a href="//followclosely.com/XYZ">Blog</a></li>  
        <li><a href="//followclosely.com/XYZ">Resources</a></li>
        <li><a href="//followclosely.com/XYZ">Support</a></li>
        <li><a href="//followclosely.com/XYZ">Login</a></li>
        <li><a href="//followclosely.com/XYZ">Sign Up</a></li>
      </ul>
    </nav>
  <div class="clearfix"></div>
</footer>

<!--
    <footer id="global-footer">
        <nav id="footer-nav" role="navigation">
            <ul id="footer-menu">
                <!--<li class="fc-logo"><a href="/"><img alt="FollowClosely" src="https://c2.staticflickr.com/2/1542/24568013169_2658b6dcce_c.jpg"></a></li>-->
<!--
                <li><a class="" href="//followclosely.com/about">About</a></li>
                <li><a href="//followclosely.com/help">Support</a></li>
                <li><a class="" href="//followclosely.com/demo">Demo</a></li>
                <li><a href="//followclosely.com/terms">Terms</a></li>

                <li><a href="https://twitter.com/intent/tweet?text=%40TweetClosely+Hi%21+Can+you+help+me+with+&amp;related=FollowClosely" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Tweet at Us</a></li>

                <li><a class="" href="https://www.join.me/">Join Live Demo</a></li>
            </ul>
            <div class="clearfix"></div>
-->
<!--
            <ul id="social-menu">
                <li class="github"><a href="https://github.com/ahrjarrett"><span class="hidden">Github</span></a></li>
                <li class="twitter"><a href="https://twitter.com/tryghost"><span class="hidden">Twitter</span></a></li>
                <li class="gplus"><a href="https://plus.google.com/u/0/b/114465948129362706086/114465948129362706086/posts"><span class="hidden">Google+</span></a></li>
                <li class="facebook"><a href="https://www.facebook.com/ghost"><span class="hidden">Facebook</span></a></li>
            </ul>
-->


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/fc.js"}}"></script>

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{! Twitter buttons }}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    {{! Facebook buttons }}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=596756540369391";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {{! Google+ buttons }}
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>
</html>
